<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>
<appender name="DB" class="com.invoiceq.oracleebsadapter.configuration.appender.ConnectorDBAppender">
    <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
        <driverClass>oracle.jdbc.OracleDriver</driverClass>
        <url>jdbc:oracle:thin:@//${DB_CONNECTION_URL}/${DB_NAME}</url>
        <user>${DB_USERNAME}</user>
        <password>${DB_PASSWORD}</password>
    </connectionSource>
</appender>
<appender name="GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${CONNECTOR_LOG_HOME}/oracle-ebs-adapter.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
        <fileNamePattern>${CONNECTOR_LOG_HOME}/archived/Oracle-EBS-Adapter-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
        <maxFileSize>10MB</maxFileSize>
        <maxHistory>60</maxHistory>
        <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>
<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <Pattern>
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
        </Pattern>
    </layout>
</appender>
<logger name="org.springframework.integration.smb" level="INFO"/>
<logger name="com.Invoiceq.connector" level="INFO">
    <appender-ref ref="DB" />
</logger>
<root level="info">
    <appender-ref ref="GENERAL"/>
    <appender-ref ref="CONSOLE"/>
</root>
</configuration>